<div class="container">
  <h2>Bienvenue sur FaceSnap</h2>
  <img src="assets/snapface.png" alt="Snapface logo" />
  <p>
    Cette application est créée à l'aide du cours
    <a
      href="https://openclassrooms.com/fr/courses/7471261-debutez-avec-angular/"
      target="_blank"
      rel="noopener noreferrer"
      >Débuter avec Angular</a
    >
    de OpenClassroom
  </p>
  <p>
    <a routerLink="facesnaps" routerLinkActive="active">
      Routing avec un lien
    </a>
    <button (click)="goToRoute('facesnaps')">Routing avec une méthode</button>
  </p>
  <form #emailForm="ngForm" (ngSubmit)="onSubmitForm(emailForm)">
    <label for="emailInput"
      >Inscrivez-vous pour recevoir notre newsletter !</label
    >
    <input
      type="email"
      id="emailInput"
      name="userEmail"
      [(ngModel)]="userEmail"
    />
    <button type="submit">OK!</button>
  </form>
</div>
